<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> EINSTITUTE - @ViewData["Title"]</title>
	<link rel="icon" href="~/img/brands/degree.png" type="image/jpg">


	 @* <!-- MAP LINKS -->
	 <!-- MAP LINKS -->
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css" />
	 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script> *@

	<!-- END MAP LINKS -->

	<link rel="stylesheet" href="~/css/login.scss">
	<link href="~/css/modern.css" rel="stylesheet" asp-append-version="true">
	
	<link href="~/js/sweet-alert/sweet-aleart.css" rel="stylesheet">
	<script src="~/js/sweet-alert/sweet-aleart.min.js"></script>
	<script src="~/js/settings.js" asp-append-version="true"></script>
	
	<link href="~/css/floatinglabels.css" rel="stylesheet" asp-append-version="true"> 
	<!-- END SETTINGS -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	@* <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script> *@
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
	</script>

</head> @* style="background-color:#454662" *@
<body class="theme-blue" style="background-color:#F6F5F5;color:#454662;)">
		<main >			
			@RenderBody()
		</main>
	<script src="~/js/app.js"></script>
    <script src="~/js/dashboard.js"></script>
	@using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
    <script>
        var apiUrl = @Json.Serialize(@Configuration.GetSection("UrlAPI")["IFS"]);
        var api_signature = @Json.Serialize(@Configuration.GetSection("UrlAPI")["SIG"]);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

